@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }
    .header-title {
        display: flex;
        width: 343px;
        height: 77.436px;
        flex-direction: column;
        justify-content: center;
        color: #FFF;
        text-align: center;
        font-size: 32px;
    }
    .header-text {
        color: #FFF;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 22px;
    }
    .btn {
    display: flex;
    justify-content: center;
    }

    .game-content {
        grid-template-columns: repeat(3, 1fr);
    }
    .game_img {
        height: 300px;
        width: 343px;
    }
}